* {
  padding: 0;
  margin: 0;
  /* background-color: burlywood; */
}

body {
}

.flex-grid-1 {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  /* margin-top: 60px; */
}
.sub-flex-grid-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 65px;
}
.about {
  align-self: center;
  display: flex;
  justify-self: center;
  column-gap: 44px;
  color: white;
}
.sub-about1 {
}
.sub-about2 {
}
.sub-about3 {
}
.login-signup {
  align-self: center;
  justify-self: center;
  margin-top: 65px;
  display: flex;
  column-gap: 34px;
}
.logo {
  justify-self: end;
  margin-right: 70px;
}
.cover {
  /* margin-top: 65px;     */
  background: linear-gradient(
    to right,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  );
  height: 80vh;
  border-radius: 0px 0px 0px 100px;
  background-size: cover; /* Ensure the background image covers the entire background without resizing */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-attachment: fixed;
}

.fon1 {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.fon2 {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.btn1 {
  color: white;
  align-self: center;
}
.btn2 {
  padding: 15px;
  border-radius: 50px;
  border: none;
  width: 130px;
  color: hsl(353, 100%, 62%);
}
/* .heading{
    color: white;
    text-align: center;
    font-size: 50px;

    margin-top: 90px;

} */
.flex-grid-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  row-gap: 11px;
}
.flex-grid-2 > h1 {
  color: white;
  text-align: center;
  font-size: 50px;
}
.flex-grid-2 > p {
  color: white;
  text-align: center;
  font-size: 16px;
  /* justify-self: flex-end; */
}
/* .sub-heading{
    color: white;
    text-align: center;
    font-size: 16px;
    margin-top: 11px;
} */
.bnt{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    /* height: 100px; */
    margin-top: 30px;

}
.bnt>button{
    padding: 10px;
    /* border: none; */
    border-radius: 50px;
    width: 120px;


}
.b1{
    color:hsl(353, 100%, 62%);
    border: none;
}
.b2{
    /* color:white; */
    /* background-color:  hsl(13, 100%, 72%); */
    /* border :2px solid white */
    text-align: center;
    justify-self: center;
    align-self: center;
    border: 1px solid white;
    padding: 10px;
    /* border-radius: 29px; */
    color: white;
    border-radius: 50px;
    width: 100px;
}
.frt{
  text-align: center;
  color: hsl(237, 17%, 21%);
  margin-top: 330px;
}

.flex-grid-3{
  display: grid;
  grid-template-columns: 1fr 1fr;


}

.content{
  border:3px solid mediumspringgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 80px;
}
.images{
  border:3px solid mediumorchid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 380px;
  overflow: hidden;
}
.sub-content1,.sub-content2{
  display: flex;
  flex-direction: column ;
  row-gap: 24px;
  width: 500px;
  justify-content: center;
  align-items: center;
}
.sub-content1>h1{
  font-size:25px ;
  color:hsl(237, 23%, 32%);
  /* background-color: rebeccapurple; */
}
.sub-content1>p{
  line-height: 30px;
}
.sub-content2>p{
  line-height: 30px;
}
.sub-content2>h1{
  font-size:25px ;
  color: hsl(237, 23%, 32%);
  /* background-color: rebeccapurple; */
}
.full-flex-grid-3{
  display: flex;
  flex-direction: column;
  row-gap: 0px;
  /* overflow: hidden; */
}
.full-image{
  /* background-color: black; */
}